# Security

Report vulnerabilities privately, via
[GitHub security advisories](https://github.com/{{ github_user }}/{{ slug }}/security/advisories/new)
or by email to <{{ author_email }}>. Please don't open a public issue for anything
exploitable.
